// bootstrap
@import '~bootstrap/scss/bootstrap';

// Core variables
@import 'base/vars';

// extend class
@import 'base/extend';

// header section
@import 'base/header';

// hero section
@import 'base/hero';

// service section
@import 'base/service';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', serif;
}

.optimise {

  .optimise-heading {
    @extend %section-heading;
  }

  .optimise-sub-heading {
    color: $muted-gray;
    text-align: center;
    margin: 1rem;
  }

  .optimise-card-img {
    margin: 1rem;
  }
}







